.form {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  
  div {
    display: flex;
    justify-content: space-between;
  }

  input {
    width: 100%;
    background: $offwhite;
    margin-bottom: 3rem;
    padding: 2rem;
    font-family: inherit;
    border: 0;
    transition: all 1s ease;

    &:not(:last-child) {
      margin-right: 3rem;
    }
  }

  textarea {
    width: 100%;
    resize: none;
    background: $offwhite;
    margin-bottom: 3rem;
    padding: 2rem;
    font-family: inherit;
    border: 0;
    transition: all 1s ease;
  }

  .submit-button {
    background: $green;
    font-family: inherit;
    font-weight: 500;
    color: $darkgrey;
    border: .3rem solid transparent;
    outline: none;
    cursor: pointer;
    padding: 1.5rem 4rem;
    align-self: center;
    transition: all .5s ease;

    &:hover,
    &:focus {
      background: none;
      border: .3rem solid $green;
    }
  }
}