form {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  
  div {
    display: flex;
    justify-content: space-between;
  }

  input {
    width: 100%;
    background: $offwhite;
    margin-bottom: 3rem;
    padding: 2rem;
    font-family: inherit;
    border: 0.1rem solid $darkgrey;

    &:not(:last-child) {
      margin-right: 3rem;
    }
  }

  textarea {
    width: 100%;
    resize: none;
    background: $offwhite;
    margin-bottom: 3rem;
    padding: 2rem;
    font-family: inherit;
    border: 0.1rem solid $darkgrey;
  }

  button {
    background: $green;
    font-family: inherit;
    font-weight: 500;
    color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 2rem 4rem;
    align-self: center;
  }
}