body.dark {

  color: $offwhite;

  section:nth-child(odd) {
    background-color: $darkgrey;
  }

  section:nth-child(even) {
    background-color: $nearblack;
  }

  input,
  textarea {
    background: $darkgrey;
    color: $offwhite;
  }

  .submit-button:hover {
    color: $offwhite;
  }

  footer {
    background: $darkgrey;
  }
}

.dark-toggle {
  background: none;
  border: none;
  outline: none;
  color: $offwhite;
  cursor: pointer;
  transition: color 0.2s linear;

  &:hover,
  &:focus {
    color: $green;
  }

  svg {
    transform: rotate(-135deg);
  }
}

