header {
  background: url(/assets/header-placeholder.jpg) no-repeat center / cover;
  color: $offwhite;
}

.header-container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }

  li {
    padding: 4rem;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}