header {
  background: linear-gradient(
    rgba(64, 214, 162, 0.2), 
    rgba(64, 214, 162, 0.2), 
  ), url(../assets/header-placeholder.jpg) no-repeat 50% 20% / cover;
  color: $offwhite;
}

.header-container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  .nav {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
  }

  h1 {
    margin-bottom: 3rem;
  }

  li {
    margin: 0 3rem;
  }

  a {
    color: inherit;
    font-weight: 300;
    text-decoration: none;
    padding: 1rem;
  }
}