@media (max-width: 940px) {
  .header-image {
    width: 75%;
  }
  .project-info {
    flex-direction: column;
  }
  .project-link {
    margin: 0 auto;
  }
  .form div {
    flex-direction: column;
  }
  .project-image {
    margin-bottom: 3rem;
  }
}

@media (max-width: 768px) {
  .wrapper {
    width: 85%;
  }
  .header-image {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .wrapper {
    width: 90%;
  }
  body {
    font-size: 1.7rem;
  }
  header,
  section {
    padding: 5vh 0;
  }
  .header-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  h1 {
    margin-bottom: 1rem;
  }
  h2 {
    margin-bottom: 2rem;
  }
  p {
    line-height: 2;
  }
  .project-link,
  .submit-button {
    width: 100%;
  }
}