@media (max-width: 940px) {
  .project-info {
    flex-direction: column;
  }
  .project-link {
    margin: 0 auto;
  }
  .form div {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .wrapper {
    width: 85%;
  }
}

@media (max-width: 480px) {
  .wrapper {
    width: 90%;
  }
  body {
    font-size: 1.6rem;
  }

  p {
    line-height: 2;
  }

  .project-link,
  .submit-button {
    width: 100%;
  }
}