.project-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &:not(:last-child) {
    margin-bottom: 5rem;
  }

  div {
    flex-basis: 47.5%;
  }
  p:nth-child(2) {
    margin: 2rem 0;
  }
}

.project-link {
  display: inline-block;
  text-decoration: none;
  background: $green;
  font-family: inherit;
  font-weight: 500;
  color: $nearblack;
  border: 0.3rem solid transparent;
  padding: 1.5rem 4rem;
  margin-right: 1rem;
  margin-top: 1rem;
  transition: all 0.5s ease;

  &:hover,
  &:focus {
    background: none;
    border: 0.3rem solid $green;
  }
}
