.skill-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
  gap: 2rem;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fab,
  .fas {
    font-size: calc(4rem + 1vw);
    margin-bottom: 1.5rem;
    transition: color 0.3s ease;

    &:hover {
      color: $green;
    }
  }
}
