.skill-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  gap: 2rem;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fab, .fas {
    font-size: calc(4rem + 1vw);
    margin-bottom: 1.5rem;
  }
}