@import 'setup';

html {
  font-size: 62.5%;
}

body {
  background: #40d6a2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Epilogue', sans-serif;
  font-size: 5rem;
  font-weight: 500;
  color: #333333;
  letter-spacing: 2px;
}